# Backend Python dependencies
fastapi
uvicorn[standard]
pymongo[srv]
python-dotenv
python-jose[cryptography]
slowapi
playwright
passlib[argon2]
argon2-cffi
bcrypt
Pillow
pydantic[email]
pydantic-settings
groq
openai
reportlab
requests
beautifulsoup4
