# Backend Python dependencies
fastapi
uvicorn[standard]
pymongo[srv]
python-dotenv
python-jose[cryptography]
slowapi
playwright
argon2-cffi
bcrypt
Pillow
pydantic[email]
pydantic-settings
groq
requests
beautifulsoup4
